# Don’t commit the following directories created by pub.
.buildlog
.packages
.project
.pub/
.settings
build/
packages

# Or files created by IntelliJ
.idea
*.iml

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

.DS_Store
*.token
